*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;    
}

body{    
    background-color: white;    
    max-height: 750px;
}


.nav{
    background-color: rgb(36, 138, 227);
    height: 100px;
    overflow: hidden;
}

.nav > a > div{    
    display: block;
    float: left;
    width: 33.33333%;
    text-align: center;
    padding-top: 35px;
    height: 100%;

}

.nav > a{
    color:white;
    text-decoration: none;
    font-size: 20px;
}

.nav > a > div:hover{  /* quando passar o mouse na div do link*/

    background-color: rgb(32, 122, 201);
    transition: 0.9s;  /* tempo para trocar a cor do fundo */
}

main{
    max-width: 800px;
 
    background-color: rgb(255, 255, 255);
    margin: auto;
    text-align: justify;
    padding: 10px;
    text-indent: 1.5em;
    line-height: 1.2em;
    font-size: 1.2em;    
    
}

body > div.img{
    background-image: url('imagens/estudante.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    height: 900px;
    width: 100%;
}

main p { /* para todo parágrado dentro de main*/
    padding: 8px;
}

div.container{
    padding-bottom: 719px;
}

div#video{
    position: absolute;
    padding-top: 10px;
    height: 720px;
    left: 50%;
    transform: translate(-50%);
}

footer{ /* configuraçõe para o rodapé */
    text-align: center; /* texto alinhado ao centro */
    background-color: rgb(36, 138, 227); 
    color: white; 
    height: 90px; /* mesma altura da imagem*/
    
}

footer > img{ /* configurações para imagem dentro do rodapé */

    float: left; /* faz ela ficar no canto esquerdo*/
}

footer > p {
    padding-top: 20px;
}


/* ------------------------ INSCRIÇÃO --------------------------*/

h1{
    text-align: center;
    font-size: 2.5em;
    padding-top: 15px;    
    font-variant: small-caps;
}

form{
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    background-color: rgb(236, 236, 236);
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.438);
    transform: translate(-50%, -50%);
}

form > p{
    padding-top: 5px;
    height: 60px;
    width: 400px;
    margin: auto;
}

form > p > label > span{   
    color: rgb(47, 85, 211);
}

form > p > input{
    width: 250px;
    height: 40px;
    text-align: center;
    transform: translateY(-18px);
    font-size: 18px;
}

p#botao > input{
    margin-top: 20px;
    width: 150px;
    
}
