*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;    
}

body{    
    background-color: rgba(74, 215, 215, 0.458);    
    max-height: 750px;
}


.nav{
    background-color: rgb(36, 138, 227);
    height: 100px;
    overflow: hidden;
}

.nav > a > div{    
    display: block;
    float: left;
    width: 33.33333%;
    text-align: center;
    padding-top: 35px;
    height: 100%;

}

.nav > a{
    color:white;
    text-decoration: none;
    font-size: 20px;
}

.nav > a > div:hover{  /* quando passar o mouse na div do link*/

    background-color: rgb(32, 122, 201);
    transition: 0.9s;  /* tempo para trocar a cor do fundo */
}

main{
    max-width: 800px;
    background-color: rgb(255, 255, 255);
    margin: auto;
    text-align: justify;
    padding: 10px;
    text-indent: 1.5em;
    line-height: 1.2em;
    font-size: 1.2em;    

}

main p { /* para todo parágrado dentro de main*/
    padding: 8px;
}

footer{ /* configuraçõe para o rodapé */
    text-align: center; /* texto alinhado ao centro */
    background-color: rgb(36, 138, 227); 
    color: white; 
    height: 90px; /* mesma altura da imagem*/
}

footer > img{ /* configurações para imagem dentro do rodapé */

    float: left; /* faz ela ficar no canto esquerdo*/
}