*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;    
}

body{    
    background-color: white;    
}

.cabeca{
    height: 120px;
    background-color: rgb(142, 191, 236);
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    padding-top: 12px;
}

.nav{
    background-color: rgb(36, 138, 227);
    height: 90px;
    overflow: hidden;
}

.nav > a > div{    
    display: block;
    float: left;
    width: 33.33333%;
    text-align: center;
    padding-top: 35px;
    height: 100%;
}

.nav > a{
    color:white;
    text-decoration: none;
    font-size: 20px;
}

.nav > a > div:hover{  
    font-size: 1.2em;
    text-decoration: underline;
    background-color: rgb(32, 122, 201);
    transition: 0.9s;  
}

main{
    max-width: 800px; 
    background-color: rgb(255, 255, 255);
    margin: auto;
    text-align: justify;
    padding: 10px;
    text-indent: 1.5em;
    line-height: 1.2em;
    font-size: 1.2em;        
}

body > div.img{
    background-image: url('imagens/estudante.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    height: 900px;
}

aside{
    text-align: right;
    color: rgb(175, 175, 175);
    padding-right: 5px;
    font-style: italic;
}

main > p { 
    padding: 8px;
}

div.container{
    padding-bottom: 719px;
}

div#video{
    position: absolute;
    padding-top: 10px;
    height: 720px;
    left: 50%;
    transform: translate(-50%);
}

footer{ 
    text-align: center; 
    background-color: rgb(36, 138, 227); 
    color: white; 
    height: 90px;   
}

footer > img{ 

    float: left; 
}

footer > p {
    padding-top: 20px;
}


/* ------------------------ INSCRIÇÃO --------------------------*/

h1{
    text-align: center;
    font-size: 2.5em;
    padding-top: 15px;    
    font-variant: small-caps;
}

form{
    margin: 60px auto;
    width: 400px;
    text-align: center;    
    background-image: linear-gradient(to right, rgb(228, 228, 228), rgb(197, 197, 197));
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.438);   
}

form > p{
    padding-top: 5px;
    height: 60px;
    width: 400px;
}

form > p > label > span{   
    color: rgb(47, 85, 211);
}

form > p > input{
    width: 250px;
    height: 40px;
    text-align: center;
    transform: translateY(-18px);
    font-size: 18px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.671);
    border-radius: 5px;
}

form > p > input:focus, textarea:focus{
    background-color: rgb(228, 228, 228);
    outline: none;

}

p#botao > input{
    margin-top: 20px;
    width: 150px;
    
}
/* ------------------------ CONTATO -------------------------- */

div#mapa{
    text-align: center;
    padding-top: 10px;
}

h2{
    text-align: center;
    padding-top: 20px;
}

form#fcontato{
    height: 370px;
    width: 385px;
    margin-top: 30px;
}

form#fcontato > p{
    width: 380px;
}

form#fcontato > p > input {
    width: 220px;
}

textarea{
    resize: none;
    display: block;
    margin: auto;
    width: 270px;
    text-align: center;
    padding-top: 20px;
}

.centro{
    padding-top: 15px;
    text-align: center;
}

div#enviar {
    text-align: center;
}

div#enviar > input{
    font-size: 18px;
    height: 40px;
    width: 150px;
    margin-top: 20px;
}